body{
    background-image: url("bg3.jpg");
    background-size: cover;
    background-attachment: fixed;

}
h1{
    display: flex;
    justify-content: center;
}

.mainCont{
    display: flex;
    flex-direction: column;
}

.assaCont{
    display: flex;
    
    
}