body{
    background-image: url("./images/bg3.jpg");
    background-size: cover;
    background-attachment: fixed;

}

h1{
    display: flex;
    justify-content: center;
}

.mainCont{
    display: flex;
    flex-direction: column;
}


.assaCont{
    display: flex;
    
    
}
.assaPic{
    width: 65%;
    
}

.assaPic img{
    width: 80%;
    
}

.assaTitle{
    display: flex;
    flex-direction: column;
    font-size: 68px;
    font-family: 'Kdam Thmor Pro', sans-serif;
    width: 35%;
    align-items: center;



}

.samCont{
    display: flex;
    

}

.samPic{
    
    width: 120%;
    
}

.samTitle{
    font-size: 68px;
    font-family: 'Kdam Thmor Pro', sans-serif;

}

