body{
    background-image: url("bg3.jpg");
    background-size: cover;
    background-attachment: fixed;

}
h1{
    display: flex;
    justify-content: center;
}

.mainCont{
    display: flex;
    flex-direction: column;
}


.assaCont{
    display: flex;
    
    
}
.assaPic{
    width:100%;
}


.samCont{
    display: flex;
    
    align-items: center;
}

.samPic{
    width: 120%;
    
}

.titleSam{
    font-size: 108px;
    font-family: 'Kdam Thmor Pro', sans-serif;
}
