h1 {
    margin-top: 2%;
    text-align: center;
    font-size: 60px;
}

.myContainer {
    width: 90% ;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1%;
    margin-left: 5%;
}

.image{
    height: 500px;
}

.image img {
    height: 100%;
    margin-top: 5%;
}

.describe {
    align-self: center;
    text-align: justify;
    width: 30%;
    padding: 20px;
    background-color: #0000009f;
    border: 1px solid;
    border-radius: 10px;
    color: white;
}

#skillsTree {
    width: 25%;
    margin-top: 5%;
    margin-left: 5%;

}

#skillsTree img {
    width: 100%;
}

#trailer {
    width: fit-content;
    margin: auto;
    margin-bottom: 1%;
}

#retour {
    background: rgba(255, 255, 255, 0.356);
    color: black;
    font-weight: bold;
    text-decoration: none;
    width: 100px;
    margin-left: 45%;
    padding: 10px;
    border: 2px solid;
    border-radius: 25px;
}

#retour:hover {
    background: rgba(255, 166, 0, 0.479);
    color: white;
}