@media screen and (max-width:1000px) {
    .myContainer {
        flex-direction: column;
    }

    .myContainer div{
        width: 95%;
    }

    .cache{
        display: none ;
    }
    .image img{
        margin-left: -60% !important;
    }    
    #skillsTree {
        width: 100%;
        margin-top: 5%;
        margin-left: 5%;
    }
}